# All jupyter notebook checkpoints
.ipynb_checkpoints/*
/pycaretTest/.ipynb_checkpoints/*
/creditRiskRating/.ipynb_checkpoints/*
/pycaretTest/logs.log
/balancingDataset/.ipynb_checkpoints/*
# Specifically ignore the large dataset file
/graphSample/input/*
