# All jupyter notebook checkpoints
.DS_Store
.ipynb_checkpoints/*
/pycaretTest/.ipynb_checkpoints/*
/creditRiskRating/.ipynb_checkpoints/*
/pycaretTest/logs.log
/balancingDataset/.ipynb_checkpoints/*
# Specifically ignore the large dataset file
/graphSample/input/*
/surveyResult/.DS_Store
/surveyResult/img/*
